{% load static %}
{% load menu_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'user_data/css/bootstrap.min.css' %}" />
    <script src="{% static 'user_data/js/jquery-3.0.0.slim.min.js' %}" defer ></script>
    <script src="{% static 'user_data/js/popper.min.js' %}" defer ></script>
    <script src="{% static 'user_data/js/bootstrap.min.js' %}" defer ></script>
</head>
    <body>
        {% nav_bar_tags as nav_bar %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {% for n in nav_bar %}
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url n.url_name %}">{{ n.title }}</a>
                            </li>
                    {% endfor%}
                </ul>
            </div>
        </nav>
        {% block content %}
        {% endblock %}
    </body>


</html>