{% extends 'user_data/base.html' %}

{% block content %}
    <h1>Update user page</h1>
            <ul class="list-group">
            {% for c in clients %}
                <li class="list-group-item" style="display: flex; justify-content: space-between">{{ c.id }} {{ c.phone_number}}
                    <a href="{% url 'update_client' pk=c.id %}"> Update user </a>
                    <a href="{% url 'delete_client' pk=c.id %}"> Delete client</a>
                </li>
            {% endfor %}
        </ul>
{% endblock %}