{% extends 'user_data/base.html' %}

{% block content %}
    <h1>Send messages page</h1>
    <form class="row g-3" method="POST" action="{% url 'create_mailing_list' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="col-auto">
            <button type="submit"  class="btn btn-primary mb-3">Create mailing list</button>
        </div>
    </form>
{% endblock %}