{% extends 'user_data/base.html' %}

{% block content %}
    <form class="row g-3" method="POST" action="{% url 'update_client' pk=pk %}">
            {% csrf_token %}
            {{ form.as_p }}
         <div class="col-auto">
            <button type="submit"  class="btn btn-primary mb-3">Update user</button>
         </div>
    </form>
{% endblock %}